{% extends 'base.html' %}

{% block title %}Drugs{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/drugs.js') }}"></script>
{% endblock %}


{% block content %}
<h2>Drug Information</h2>
<div class="grid-container">
    <table id="drugsTable" class="datagrid-table; display">
        <thead>
            <tr>
                <th>Id</th>
                <th>DrugBankId</th>
                <th>Drug name</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be populated by DataTables -->
        </tbody>
    </table>
</div>

{% endblock %}
