{% extends 'base.html' %}

{% block title %}Drug Information{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tab.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/drug_information.css') }}">

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/lib/3Dmol.js') }}"></script>
<script src="{{ url_for('static', filename='js/drug_details.js') }}"></script>
{% endblock %}


{% block content %}
<h2>Drug Details</h2>


<style>
    .drugbank-id-container {
        margin: 20px 0;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
        text-align: center;
        font-weight: bold ;
    }
    .drugbank-id {
        font-size: 1.2em;
        font-weight: bolder;
    }

    #adjacency-table_wrapper{
        max-width: 1100px;
    }
</style>
<div class="tab-container">
    <div class="drugbank-id-container" id="drugbank-id-container">
        <p>DrugBank ID: <span class="drugbank-id" id="drugbank-id">{{ drugbank_id }}</span></p>
        <p id="error-message">Error: Invalid DrugBank ID.</p>
    </div>

    <div class="tabs">
        <div class="tab active" onclick="openTab(event, 'info_tab')">Information</div>
        <div class="tab" onclick="openTab(event, 'visualization_tab');fillAdjacency();">Visualization</div>
        <div class="tab" onclick="openTab(event, 'enzyme_tab');fillEnzyme();">Enzymes</div>
        <div class="tab" onclick="openTab(event, 'target_tab');fillTarget();">Targets</div>
        <div class="tab" onclick="openTab(event, 'pathway_tab');fillPathway();">Pathways</div>
        <div class="tab" onclick="openTab(event, 'int_tab');fillInteraction();">Interactions</div>
    </div>
    <div id="info_tab" class="tab-content active">
        <div id="data-container"></div>
    </div>
    <div id="visualization_tab" class="tab-content">
        <div id="result" style="display: none;"></div>
        <div style="display: flex;">
            <div id="mol-container" style="width: 700px; height: 700px;"></div>
            <table id="adjacency-table"  class="display">
                <thead>
                    <tr id="adjacency-tableHeaders"></tr>
                </thead>
                <tbody id="adjacency-tableBody"></tbody>
            </table>
        </div>
    </div>
    <div id="enzyme_tab" class="tab-content">
        <div class="grid-container_without_temp">
            <table id="enzymeTable" class="datagrid-table; display">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Enzyme code</th>
                        <th>Enzyme name</th>
                        <th>Position</th>
                        <th>Organism</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be populated by DataTables -->
                </tbody>
            </table>
        </div>
    </div>

    <div id="target_tab" class="tab-content">
        <div class="grid-container_without_temp">
            <table id="targetTable" class="datagrid-table; display">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Target code</th>
                        <th>Target name</th>
                        <th>Position</th>
                        <th>Organism</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be populated by DataTables -->
                </tbody>
            </table>
        </div>
    </div>
    <div id="pathway_tab" class="tab-content">
        <div class="grid-container_without_temp">
            <table id="pathwayTable" class="datagrid-table; display">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Pathway code</th>
                        <th>Pathway name</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be populated by DataTables -->
                </tbody>
            </table>
        </div>
    </div>
    <div id="int_tab" class="tab-content">
        <div class="grid-container_without_temp">
            <table id="interactionTable" class="datagrid-table; display">
                <thead>
                    <tr>
                        <th>DrugBankId</th>
                        <th>Drug name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be populated by DataTables -->
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}
