/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    position: fixed;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Container styles */
.container {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 95% !important;
    margin: 75px 0 !important;
    padding: 0 !important;
}

/* Content styles */
.content {
    flex: 1;
    background-color: white;
    padding: 20px;
    margin-left: 20px; /* Ensure content doesn't overlap with sidebar */
    margin-bottom: 55px;
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 13px;
    margin-top: auto; /* Push footer to the bottom */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-buttons {
    display: flex;
    gap: 10px;
}

.footer-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.footer-icon-btn:hover {
    color: #007bff; /* Color change on hover */
}

.footer-icon-btn i {
    pointer-events: none; /* Prevent tooltip from being triggered on icon itself */
}

footer p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;

}

.similarity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.property-container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    margin-top: 10px;
}

.property-container label {
    font-weight: bold;
    margin-right: 10px;
}

.property-container select,
.property-container input[type="date"],
.property-container button {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.label-for {
    margin-right: 20px;
    min-width: 120px;
}

input[type="date"] {
    padding: 10px 12px;
    font-size: 14px;
    border: 2px solid #007bff; /* Match the border color with your button */
    border-radius: 5px;
    color: #333; /* Dark text */
    background-color: #fff;
    cursor: pointer;
    width: 180px; /* Make it a little wider for better UX */
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background-color: #ffe8a17b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type="date"]:hover {
    border-color: #0056b3;
}

input[type="date"]:focus {
    outline: none;
    border-color: #0056b3; /* Focus state to make it more interactive */
}
