
.img-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
}
.img-modal-content {
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #0f0f0f;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}