
.tab-container {
    width: 100%;
    margin: auto;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    margin-right: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    font-family: Arial, sans-serif;
    flex-basis: 10%;
}

.tab.active {
    background-color: #ddd;
    font-weight: bold;
    border-bottom: 3px solid #ff6600;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 8px 8px 8px;
}

.tab-content.active {
    display: block;
}

.tab-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.tab-label {
    font-weight: bold;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    text-align: center;
}

.tab:hover {
    background-color: #ddd;
}

