input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: none;
    height: 100px;
    overflow-y: auto;
}