{% extends 'base.html' %}

{% block title %}reduction-pathways{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/radiobutton.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/reduction_similarity.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_reduction_category_radio.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_similarity_type_dropdown.js') }}"></script>
{% endblock %}


{% block content %}
<h2>Reduction Pathway Similarity</h2>

<!-- Dropdown and button -->
<div>
    <div class="property-container">
        <label for="reductionCategoryRadioContainer" class="label-for">Choose reduction category:</label>
        <div id="reductionCategoryRadioContainer" class="radioButtonsContainer"></div>
    </div>

    <hr/>

    <div class="property-container">
        <label for="similaritySelect" class="label-for">Choose a Similarity type:</label>

        <select id="similaritySelect">
            <option value="">--Select a similarity type--</option>
            <!-- Add more options as needed -->
        </select>
        <button id="submitBtn" onclick="filterReductionSimilarities('Pathway')">Submit</button>
        <button id="calculateBtn" onclick="calculateReductionSimilarities('Pathway')">(Re)Calculate</button>
    </div>

</div>

<div class="grid-container">
    <table id="reductionTable" class="datagrid-table; display">
        <thead>
            <tr>
                <th>Id</th>
                <th>DrugBankId</th>
                <th>Reduction Value</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be populated by DataTables -->
        </tbody>
    </table>
</div>

{% endblock %}
