{% extends 'base.html' %}

{% block title %}reduction-embeddings{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/radiobutton.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/spinner.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/spinner.js') }}"></script>
<script src="{{ url_for('static', filename='js/reduction_embedding.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_embedding_category_radio.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_reduction_category_radio.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_property_embedding_dropdown.js') }}"></script>
{% endblock %}


{% block content %}
<h2>Reduction Text-Embedding</h2>

<!-- Dropdown and button -->
<div>
    <div class="property-container">
        <label for="reductionCategoryRadioContainer" class="label-for">Choose reduction category:</label>
        <div id="reductionCategoryRadioContainer" class="radioButtonsContainer"></div>
    </div>

    <hr/>

    <div class="property-container">
        <label for="embeddingCategoryRadioContainer" class="label-for">Choose embedding type:</label>
        <div id="embeddingCategoryRadioContainer" class="radioButtonsContainer"></div>
    </div>

    <div class="property-container">
        <label for="propertiesSelect" class="label-for">Choose a property:</label>

        <select id="propertiesSelect">
            <option value="">--Select an property--</option>
            <!-- Add more options as needed -->
        </select>
        <button id="submitBtn" onclick="filterReductionEmbeddings()">Submit</button>
        <button id="calculateBtn" onclick="calculateReductionEmbeddings()">(Re)Calculate</button>
    </div>

    <div id="loadingSpinner" class="spinner" style="display: none;"></div>

</div>

<div class="grid-container">
    <table id="embeddingsTable" class="datagrid-table; display">
        <thead>
            <tr>
                <th>Id</th>
                <th>DrugBankId</th>
                <th>Reduction Value</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be populated by DataTables -->
        </tbody>
    </table>
</div>

{% endblock %}
