{% extends 'base.html' %}

{% block title %}text-embedding{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/radiobutton.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/text_embedding.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_embedding_category_radio.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_property_embedding_dropdown.js') }}"></script>
{% endblock %}


{% block content %}
<h2>Text Embedding</h2>

<!-- Dropdown and button -->
<div>
    <div id="embeddingCategoryRadioContainer" class="radioButtonsContainer"></div>


    <div class="text-container">
        <label for="propertiesSelect" class="label-for">Choose a property:</label>

        <select id="propertiesSelect">
            <option value="">--Select an property--</option>
            <!-- Add more options as needed -->
        </select>
        <button id="submitBtn" onclick="filterEmbeddings()">Submit</button>
        <button id="calculateBtn" onclick="calculateEmbeddings()">(Re)Calculate</button>
    </div>

</div>

<div class="grid-container" id="embeddingGrid">
    <table id="embeddingsTable" class="datagrid-table; display">
        <thead>
            <tr>
                <th>Id</th>
                <th id="drugbank-id">DrugBankId</th>
                <th id="drug-name">Drug name</th>
                <th>Embedding</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be populated by DataTables -->
        </tbody>
    </table>
</div>
<div class="grid-container" id="interactionEmbeddingGrid">
    <table id="interactionEmbeddingsTable" class="datagrid-table; display">
        <thead>
            <tr>
                <th>Id</th>
                <th id="drugbank1-id">DrugBankId</th>
                <th id="drug1-name">Drug name</th>
                <th id="drugbank2-id">DrugBankId</th>
                <th id="drug2-name">Drug name</th>
                <th>Embedding</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be populated by DataTables -->
        </tbody>
    </table>
</div>

{% endblock %}
