{% extends 'base.html' %}

{% block title %}Enzyme-Similarities {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/spinner.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/spinner.js') }}"></script>
<script src="{{ url_for('static', filename='js/enzyme_similarity.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_similarity_type_dropdown.js') }}"></script>
{% endblock %}


{% block content %}
<h2>Enzyme-Similarities</h2>

<!-- Dropdown and button -->
<div>

    <div class="similarity-container">
        <label for="similaritySelect" class="label-for">Choose a similarity:</label>

        <select id="similaritySelect">
            <option value="">--Select an similarity--</option>
            <!-- Add more options as needed -->
        </select>
        <button id="submitBtn" onclick="filterEnzymeSimilarity()">Submit</button>
        <button id="calculateBtn" onclick="calculateEnzymeSimilarity()">(Re)Calculate</button>
    </div>

    <div id="loadingSpinner" class="spinner" style="display: none;"></div>

</div>

<table id="enzyme_similarity_table" class="display">
    <thead>
        <tr id="tableHeaders"></tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>

{% endblock %}
