<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}DDI App</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spinner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/jquery.dataTables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block style %}{% endblock %}
    <script src="{{ url_for('static', filename='js/base.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/lib/jquery-3.5.1.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.dataTables.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/lib/dataTables.bootstrap4.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/spinner.js') }}"></script>
    {% block script %}{% endblock %}
</head>
<body>
    <header>
        <h1>Drug-Drug Interaction App</h1>
        <div id="loadingSpinner" class="spinner" style="display: none;"></div>
    </header>

    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <h2></h2>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#" class="menu-item">Home</a>
                    </li>
                    <li>
                        <a href="#" class="menu-item">Drug</a>
                        <ul class="submenu">
                            <li><a href="/drug/drugs">Drug list</a></li>
                            <li><a href="/drug/information">Information</a></li>
                            <li><a href="/drug/visualization">Visualization</a></li>
                            <li><a href="/drug/similarity">Similarity</a></li>
                            <li><a href="/drug/reduction">Reduction</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-item">Enzymes</a>
                        <ul class="submenu">
                            <li><a href="/enzyme/drug_enzymes">Drug-Enzymes</a></li>
                            <li><a href="/enzyme/enzyme_similarity">Similarity</a></li>
                            <li><a href="/enzyme/reduction_enzyme_similarity">Reduction</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-item">Targets</a>
                        <ul class="submenu">
                            <li><a href="/target/drug_targets">Drug-Targets</a></li>
                            <li><a href="/target/target_similarity">Similarity</a></li>
                            <li><a href="/target/reduction_target_similarity">Reduction</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-item">Pathways</a>
                        <ul class="submenu">
                            <li><a href="/pathway/drug_pathways">Drug-Pathways</a></li>
                            <li><a href="/pathway/pathway_similarity">Similarity</a></li>
                            <li><a href="/pathway/reduction_pathway_similarity">Reduction</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-item">Text Properties</a>
                        <ul class="submenu">
                            <li><a href="/drug_embedding/text_embedding">Text Embedding</a></li>
                            <li><a href="/drug_embedding/reduction_embedding">Reduction Embedding</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-item">Training</a>
                        <ul class="submenu">
                            <li><a href="/training/scheduled_training">Schedule Training</a></li>
                            <li><a href="/training/training_history">Training History</a></li>
                            <li><a href="/training/compare">Compare</a></li>
                        </ul>
                    </li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </nav>
        </aside>

        <main class="content">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-buttons">
                <button class="footer-icon-btn" title="Settings">
                    <i class="fas fa-cog"></i>
                </button>
                <button class="footer-icon-btn" title="Remove Job" onclick="remove_incorrect_jobs()">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
            <p>&copy; 2024 DDI App</p>
        </div>
    </footer>

</body>
</html>
