{% extends 'base.html' %}

{% block title %}Train{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/radiobutton.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/checkbox.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/section.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/train.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_reduction_category_dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_similarity_type_dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_embedding_category_dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_train_model_dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/show_hide_checkbox_container.js') }}"></script>
{% endblock %}


{% block content %}
<h2>Schedule Train</h2>

<div>

    <div class="property-container">
        <label for="trainModelSelect" class="label-for">Choose a Model:</label>

        <select id="trainModelSelect" onchange="updateDescription()">
            <option value="">--Select a Model--</option>
        </select>
        <button id="submitBtn" onclick="train()">Schedule</button>
        <p id="trainModelDescription"></p>
    </div>

    <div class="property-container">
        <label for="modelName" class="label-for">Name:</label>
        <input type="text" id="modelName" placeholder="Enter model name" />
    </div>

    <div class="property-container">
        <label for="modelDescription" class="label-for">Description:</label>
        <textarea id="modelDescription" placeholder="Enter model description"></textarea>
    </div>

    <div class="section">
        <h3>Similarities</h3>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="substructure-check" value="Substructure"
                       onclick="toggleDropdowns(this, 'substructure-details');filterSimilaritySelect('substructure-similarity-select', 'substructure-check');fillReductionSelect('substructure-reduction-select');">
                <span class="checkbox-custom"></span>
                Substructure
            </label>
            <div id="substructure-details" class="dropdowns" style="display: none;">
                <select id="substructure-similarity-select">
                    <option value="">--Select an similarity--</option>
                </select>
                <select id="substructure-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="target-check" value="Target"
                       onclick="toggleDropdowns(this, 'target-details');filterSimilaritySelect('target-similarity-select', 'target-check');fillReductionSelect('target-reduction-select');">
                <span class="checkbox-custom"></span>
                Target
            </label>
            <div id="target-details" class="dropdowns" style="display: none;">
                <select id="target-similarity-select">
                    <option value="">--Select an similarity--</option>
                </select>
                <select id="target-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="enzyme-check" value="Enzyme"
                       onclick="toggleDropdowns(this, 'enzyme-details');filterSimilaritySelect('enzyme-similarity-select', 'enzyme-check');fillReductionSelect('enzyme-reduction-select');">
                <span class="checkbox-custom"></span>
                Enzyme
            </label>
            <div id="enzyme-details" class="dropdowns" style="display: none;">
                <select id="enzyme-similarity-select">
                    <option value="">--Select an similarity--</option>
                </select>
                <select id="enzyme-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="pathway-check" value="Pathway"
                       onclick="toggleDropdowns(this, 'pathway-details');filterSimilaritySelect('pathway-similarity-select', 'pathway-check');fillReductionSelect('pathway-reduction-select');">
                <span class="checkbox-custom"></span>
                Pathway
            </label>
            <div id="pathway-details" class="dropdowns" style="display: none;">
                <select id="pathway-similarity-select">
                    <option value="">--Select an similarity--</option>
                </select>
                <select id="pathway-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Second Section with Checkboxes -->
    <div class="section">
        <h3>Texts</h3>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="description-check" onclick="toggleDropdowns(this, 'description-details');fillEmbeddingSelect('description-embedding-select');fillReductionSelect('description-reduction-select');">
                <span class="checkbox-custom"></span>
                Description
            </label>
            <div id="description-details" class="dropdowns" style="display: none;">
                <select id="description-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
                <select id="description-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="indication-check" onclick="toggleDropdowns(this, 'indication-details');fillEmbeddingSelect('indication-embedding-select');fillReductionSelect('indication-reduction-select');">
                <span class="checkbox-custom"></span>
                Indication
            </label>
            <div id="indication-details" class="dropdowns" style="display: none;">
                <select id="indication-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
                <select id="indication-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="pharmacodynamics-check" onclick="toggleDropdowns(this, 'pharmacodynamics-details');fillEmbeddingSelect('pharmacodynamics-embedding-select');fillReductionSelect('pharmacodynamics-reduction-select');">
                <span class="checkbox-custom"></span>
                Pharmacodynamics
            </label>
            <div id="pharmacodynamics-details" class="dropdowns" style="display: none;">
                <select id="pharmacodynamics-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
                <select id="pharmacodynamics-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="mechanism-of-action-check" onclick="toggleDropdowns(this, 'mechanism-of-action-details');fillEmbeddingSelect('mechanism-of-action-embedding-select');fillReductionSelect('mechanism-of-action-reduction-select');">
                <span class="checkbox-custom"></span>
                Mechanism Of Action
            </label>
            <div id="mechanism-of-action-details" class="dropdowns" style="display: none;">
                <select id="mechanism-of-action-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
                <select id="mechanism-of-action-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="toxicity-check" onclick="toggleDropdowns(this, 'toxicity-details');fillEmbeddingSelect('toxicity-embedding-select');fillReductionSelect('toxicity-reduction-select');">
                <span class="checkbox-custom"></span>
                Toxicity
            </label>
            <div id="toxicity-details" class="dropdowns" style="display: none;">
                <select id="toxicity-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
                <select id="toxicity-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="metabolism-check" onclick="toggleDropdowns(this, 'metabolism-details');fillEmbeddingSelect('metabolism-embedding-select');fillReductionSelect('metabolism-reduction-select');">
                <span class="checkbox-custom"></span>
                Metabolism
            </label>
            <div id="metabolism-details" class="dropdowns" style="display: none;">
                <select id="metabolism-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
                <select id="metabolism-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="absorption-check" onclick="toggleDropdowns(this, 'absorption-details');fillEmbeddingSelect('absorption-embedding-select');fillReductionSelect('absorption-reduction-select');">
                <span class="checkbox-custom"></span>
                Absorption
            </label>
            <div id="absorption-details" class="dropdowns" style="display: none;">
                <select id="absorption-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
                <select id="absorption-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="half-life-check" onclick="toggleDropdowns(this, 'half-life-details');fillEmbeddingSelect('half-life-embedding-select');fillReductionSelect('half-life-reduction-select');">
                <span class="checkbox-custom"></span>
                Half Life
            </label>
            <div id="half-life-details" class="dropdowns" style="display: none;">
                <select id="half-life-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
                <select id="half-life-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="protein-binding-check" onclick="toggleDropdowns(this, 'protein-binding-details');fillEmbeddingSelect('protein-binding-embedding-select');fillReductionSelect('protein-binding-reduction-select');">
                <span class="checkbox-custom"></span>
                Protein Binding
            </label>
            <div id="protein-binding-details" class="dropdowns" style="display: none;">
                <select id="protein-binding-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
                <select id="protein-binding-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="route-of-elimination-check" onclick="toggleDropdowns(this, 'route-of-elimination-details');fillEmbeddingSelect('route-of-elimination-embedding-select');fillReductionSelect('route-of-elimination-reduction-select');">
                <span class="checkbox-custom"></span>
                Route Of Elimination
            </label>
            <div id="route-of-elimination-details" class="dropdowns" style="display: none;">
                <select id="route-of-elimination-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
                <select id="route-of-elimination-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="volume-of-distribution-check" onclick="toggleDropdowns(this, 'volume-of-distribution-details');fillEmbeddingSelect('volume-of-distribution-embedding-select');fillReductionSelect('volume-of-distribution-reduction-select');">
                <span class="checkbox-custom"></span>
                Volume Of Distribution
            </label>
            <div id="volume-of-distribution-details" class="dropdowns" style="display: none;">
                <select id="volume-of-distribution-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
                <select id="volume-of-distribution-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="clearance-check" onclick="toggleDropdowns(this, 'clearance-details');fillEmbeddingSelect('clearance-embedding-select');fillReductionSelect('clearance-reduction-select');">
                <span class="checkbox-custom"></span>
                Clearance
            </label>
            <div id="clearance-details" class="dropdowns" style="display: none;">
                <select id="clearance-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
                <select id="clearance-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="classification-description-check" onclick="toggleDropdowns(this, 'classification-description-details');fillEmbeddingSelect('classification-description-embedding-select');fillReductionSelect('classification-description-reduction-select');">
                <span class="checkbox-custom"></span>
                Classification Description
            </label>
            <div id="classification-description-details" class="dropdowns" style="display: none;">
                <select id="classification-description-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
                <select id="classification-description-reduction-select">
                    <option value="">--Select a reduction--</option>
                </select>
            </div>
        </div>
    </div>

</div>


{% endblock %}
