{% extends 'base.html' %}

{% block title %}Train{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/radiobutton.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/checkbox.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/section.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/train.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/imagemodal.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/train.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_similarity_type_dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_embedding_category_dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_train_model_dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_loss_dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/fill_scenario_dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/show_hide_checkbox_container.js') }}"></script>
<script src="{{ url_for('static', filename='js/image_modal.js') }}"></script>
{% endblock %}


{% block content %}
<h2>Schedule Train</h2>

<div class="train-container">

    <div class="property-container column-container" style="grid-column: span 2;">
        <label for="scenarioSelect" class="label-for">Choose Scenario:</label>

        <select id="scenarioSelect" onchange="updateScenarioDescription();fill_train_model_dropdown();">
            <option value="">--Select a Scenario--</option>
        </select>
        <p id="scenarioDescription"></p>
        <label id="test-algorithm-label" class="checkbox-label">
            <input type="checkbox" id="test-algorithm-check">
            <span class="checkbox-custom"></span>
            Test Algorithm
        </label>
    </div>

    <div class="property-container column-container" style="grid-column: span 2;">
        <label for="trainModelSelect" class="label-for">Choose a Model:</label>

        <select id="trainModelSelect" onchange="updateTrainModelImage();updateTrainModelDescription();fill_loss_dropdown();">
            <option value="">--Select a Model--</option>
        </select>
        <button id="submitBtn" onclick="train()">Schedule</button>
        <p id="trainModelDescription"></p>
    </div>

    <div class="column-container">
        <div id="loss-container" style="display: none;" class="property-container">
            <label for="lossFunctionSelect" class="label-for">Choose loss:</label>

            <select id="lossFunctionSelect" onchange="updateLossFormula()">
                <option value="">--Select a loss--</option>
            </select>
            <p id="lossFormula"></p>
        </div>

        <div class="property-container">
            <span>Use Class Weight</span>

            <label id="class-weight-label" class="checkbox-label" style="margin-left: 20px; margin-bottom: 20px;">
                <input type="checkbox" id="class-weight-check">
                <span class="checkbox-custom"></span>
            </label>
        </div>

        <div class="property-container">
            <label for="modelName" class="label-for">Name:</label>
            <input type="text" id="modelName" placeholder="Enter model name" />
        </div>

        <div class="property-container">
        <label for="modelDescription" class="label-for">Description:</label>
        <textarea id="modelDescription" placeholder="Enter model description"></textarea>
    </div>
    </div>
    <div class="column-container image-container">
        <img id="trainModelImg" class="train-model-image" onclick="openImageModal(this)">
    </div>

	<div id="imageModal" class="img-modal" onclick="closeImageModal()">
		<span class="close">&times;</span>
		<img class="img-modal-content" id="enlargedImage">
	</div>

    <div class="section column-container">
        <h3>Similarities</h3>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="substructure-check" value="Substructure"
                       onclick="toggleDropdowns(this, 'substructure-details');filterSimilaritySelect('substructure-similarity-select', 'substructure-check');">
                <span class="checkbox-custom"></span>
                Substructure
            </label>
            <div id="substructure-details" class="dropdowns" style="display: none;">
                <select id="substructure-similarity-select">
                    <option value="">--Select an similarity--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="target-check" value="Target"
                       onclick="toggleDropdowns(this, 'target-details');filterSimilaritySelect('target-similarity-select', 'target-check');">
                <span class="checkbox-custom"></span>
                Target
            </label>
            <div id="target-details" class="dropdowns" style="display: none;">
                <select id="target-similarity-select">
                    <option value="">--Select an similarity--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="enzyme-check" value="Enzyme"
                       onclick="toggleDropdowns(this, 'enzyme-details');filterSimilaritySelect('enzyme-similarity-select', 'enzyme-check');">
                <span class="checkbox-custom"></span>
                Enzyme
            </label>
            <div id="enzyme-details" class="dropdowns" style="display: none;">
                <select id="enzyme-similarity-select">
                    <option value="">--Select an similarity--</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="pathway-check" value="Pathway"
                       onclick="toggleDropdowns(this, 'pathway-details');filterSimilaritySelect('pathway-similarity-select', 'pathway-check');">
                <span class="checkbox-custom"></span>
                Pathway
            </label>
            <div id="pathway-details" class="dropdowns" style="display: none;">
                <select id="pathway-similarity-select">
                    <option value="">--Select an similarity--</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Second Section with Checkboxes -->
    <div class="section column-container" style="grid-row: span 2;">
        <h3>Texts</h3>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="description-check" onclick="toggleDropdowns(this, 'description-details');fillEmbeddingSelect('description-embedding-select');">
                <span class="checkbox-custom"></span>
                Description
            </label>
            <div id="description-details" class="dropdowns" style="display: none;">
                <select id="description-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="indication-check" onclick="toggleDropdowns(this, 'indication-details');fillEmbeddingSelect('indication-embedding-select');">
                <span class="checkbox-custom"></span>
                Indication
            </label>
            <div id="indication-details" class="dropdowns" style="display: none;">
                <select id="indication-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="pharmacodynamics-check" onclick="toggleDropdowns(this, 'pharmacodynamics-details');fillEmbeddingSelect('pharmacodynamics-embedding-select');">
                <span class="checkbox-custom"></span>
                Pharmacodynamics
            </label>
            <div id="pharmacodynamics-details" class="dropdowns" style="display: none;">
                <select id="pharmacodynamics-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="mechanism-of-action-check" onclick="toggleDropdowns(this, 'mechanism-of-action-details');fillEmbeddingSelect('mechanism-of-action-embedding-select');">
                <span class="checkbox-custom"></span>
                Mechanism Of Action
            </label>
            <div id="mechanism-of-action-details" class="dropdowns" style="display: none;">
                <select id="mechanism-of-action-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="toxicity-check" onclick="toggleDropdowns(this, 'toxicity-details');fillEmbeddingSelect('toxicity-embedding-select');">
                <span class="checkbox-custom"></span>
                Toxicity
            </label>
            <div id="toxicity-details" class="dropdowns" style="display: none;">
                <select id="toxicity-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="metabolism-check" onclick="toggleDropdowns(this, 'metabolism-details');fillEmbeddingSelect('metabolism-embedding-select');">
                <span class="checkbox-custom"></span>
                Metabolism
            </label>
            <div id="metabolism-details" class="dropdowns" style="display: none;">
                <select id="metabolism-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="absorption-check" onclick="toggleDropdowns(this, 'absorption-details');fillEmbeddingSelect('absorption-embedding-select');">
                <span class="checkbox-custom"></span>
                Absorption
            </label>
            <div id="absorption-details" class="dropdowns" style="display: none;">
                <select id="absorption-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="half-life-check" onclick="toggleDropdowns(this, 'half-life-details');fillEmbeddingSelect('half-life-embedding-select');">
                <span class="checkbox-custom"></span>
                Half Life
            </label>
            <div id="half-life-details" class="dropdowns" style="display: none;">
                <select id="half-life-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="protein-binding-check" onclick="toggleDropdowns(this, 'protein-binding-details');fillEmbeddingSelect('protein-binding-embedding-select');">
                <span class="checkbox-custom"></span>
                Protein Binding
            </label>
            <div id="protein-binding-details" class="dropdowns" style="display: none;">
                <select id="protein-binding-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="route-of-elimination-check" onclick="toggleDropdowns(this, 'route-of-elimination-details');fillEmbeddingSelect('route-of-elimination-embedding-select');">
                <span class="checkbox-custom"></span>
                Route Of Elimination
            </label>
            <div id="route-of-elimination-details" class="dropdowns" style="display: none;">
                <select id="route-of-elimination-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="volume-of-distribution-check" onclick="toggleDropdowns(this, 'volume-of-distribution-details');fillEmbeddingSelect('volume-of-distribution-embedding-select');">
                <span class="checkbox-custom"></span>
                Volume Of Distribution
            </label>
            <div id="volume-of-distribution-details" class="dropdowns" style="display: none;">
                <select id="volume-of-distribution-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="clearance-check" onclick="toggleDropdowns(this, 'clearance-details');fillEmbeddingSelect('clearance-embedding-select');">
                <span class="checkbox-custom"></span>
                Clearance
            </label>
            <div id="clearance-details" class="dropdowns" style="display: none;">
                <select id="clearance-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="classification-description-check" onclick="toggleDropdowns(this, 'classification-description-details');fillEmbeddingSelect('classification-description-embedding-select');">
                <span class="checkbox-custom"></span>
                Classification Description
            </label>
            <div id="classification-description-details" class="dropdowns" style="display: none;">
                <select id="classification-description-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>
    </div>
    <div class="section column-container">
        <h3>Interaction Texts</h3>

        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="interaction-description-check"
                       onclick="toggleDropdowns(this, 'interaction-description-details');fillEmbeddingSelect('interaction-description-embedding-select');">
                <span class="checkbox-custom"></span>
                Description
            </label>
            <div id="interaction-description-details" class="dropdowns" style="display: none;">
                <select id="interaction-description-embedding-select">
                    <option value="">--Select an embedding</option>
                </select>
            </div>
        </div>
    </div>

</div>


{% endblock %}
