{% extends 'base.html' %}

{% block title %}Train History{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/spinner.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/spinner.js') }}"></script>
<script src="{{ url_for('static', filename='js/train_history_details.js') }}"></script>
{% endblock %}


{% block content %}
<h2>Train History Details</h2>

<p>Train History ID: <span id="train-history-id">{{ train_history_id }}</span></p>


<div id="plots">


    <div id="loadingSpinner" class="spinner" style="display: none;"></div>
</div>

<div class="grid-container">
    <table id="trainHistoryDetailsTable" class="datagrid-table; display">
        <thead>
            <tr>
                <th>Training Label</th>
                <th>F1 Score</th>
                <th>Accuracy</th>
                <th>AUC</th>
                <th>AUPR</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be populated by DataTables -->
        </tbody>
    </table>
</div>

{% endblock %}
